<!-- wp:template-part {"slug":"header","theme":"educator-academy","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"background"} -->
<div class="wp-block-group has-background-background-color has-background" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:cover {"overlayColor":"primary","minHeight":100,"align":"full","style":{"spacing":{"padding":{"top":"2rem","right":"0","left":"0","bottom":"2rem"}},"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
<div class="wp-block-cover alignfull" style="padding-top:2rem;padding-right:0;padding-bottom:2rem;padding-left:0;font-style:normal;font-weight:400;min-height:100px"><span aria-hidden="true" class="wp-block-cover__background has-primary-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"background","fontSize":"huge"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"educator-academy/cover-with-post-title"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px","bottom":"80px"}}}} -->
<main class="wp-block-group" style="padding-top:0px;padding-bottom:80px"><!-- wp:post-featured-image {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"var:preset|spacing|60","left":"0","right":"0"}}}} /-->

<!-- wp:post-content {"layout":{"inherit":true,"contentSize":"80%"}} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"educator-academy","tagName":"footer"} /-->