<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-title {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrash"}}}},"textColor":"contrash"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-date {"displayType":"modified","style":{"spacing":{"margin":{"right":"var:preset|spacing|60"}}}} /-->

<!-- wp:post-terms {"term":"category"} /--></div>
<!-- /wp:group -->

<!-- wp:post-author-name /-->

<!-- wp:post-featured-image {"aspectRatio":"16/9","align":"center"} /-->

<!-- wp:post-content {"style":{"elements":{"link":{"color":{"text":"var:preset|color|text"}}}},"textColor":"text"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"uncategorized"} /-->