<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:heading {"level": 1} -->
<h1>Fallback</h1>
<!-- /wp:heading -->

<!-- wp:group {"tagName":"section"} -->
<section class="wp-block-group">
  <!-- wp:heading -->
  <h2 class="wp-block-heading">Topic 1</h2>
  <!-- /wp:heading -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section"} -->
<section class="wp-block-group">
  <!-- wp:heading {"level": 4} -->
  <h4>Fallback</h4>
  <!-- /wp:heading -->
  <!-- wp:paragraph -->
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  <!-- /wp:paragraph -->
</section>
<!-- /wp:group -->

<!-- wp:button -->
<div class="wp-block-button">
  <a class="wp-block-button__link">Click Me</a>
</div>
<!-- /wp:button -->

<!-- wp:image -->
<figure class="wp-block-image">
  <img src="https://picsum.photos/400/300" alt="" />
</figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2>Posts</h2>
<!-- /wp:heading -->

<!-- wp:query {"query": {"perPage": 1, "postType": "post"}} -->
<!-- wp:post-template -->
<!-- wp:post-title {"isLink": true} /-->
<!-- wp:post-excerpt /-->
<!-- wp:post-date {"format":"F d, Y"} /-->
<!-- wp:post-terms {"term":"category"} /-->
<!-- /wp:post-template -->
<!-- /wp:query -->

<!-- wp:query {"queryId":1,"query":{"perPage":10,"postType":"post","order":"desc","orderBy":"date"}} -->
<div class="wp-block-query">
  <!-- wp:group -->
  <div class="wp-block-group">
    <!-- wp:post-template -->
    <!-- wp:group -->
    <div class="wp-block-group">
      <!-- wp:group  -->
      <div class="wp-block-group">
        <!-- wp:post-date /-->
      </div>
      <!-- /wp:group -->

      <!-- wp:post-title {"isLink":true} /-->
    </div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group  -->
  <div class="wp-block-group">
    <!-- wp:query-pagination -->
    <!-- wp:query-pagination-previous /-->
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
